@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

:root {
  --font-albert: 'Albert Sans';
  --font-bebas: 'Bebas Neue';
  --primary-red: #DA4438;
  --secondary-red: #762921;
  --beige: #F1E7DB;
  --orange: #DA4438;
  --white: #FFFF;
  --black: #0000;
}

@layer base {
  h1 {
    @apply font-[var(--font-bebas)] font-extrabold text-4xl text-white
  }

  h2 {
    @apply font-[var(--font-bebas)] font-bold text-2xl text-[var(--secondary-red)]
  }

  h3 {
    @apply font-[var(--font-bebas)] font-bold text-2xl text-[var(--primary-red)]
  }

  p {
    @apply font-[var(--font-albert)] text-black text-lg
  }
}

@layer utilities {
  .full-screen {
    height: 100dvh;
    width: 100vw;
    overflow: hidden;
  }

  .hero-img {
    max-width: 800px;
    width: 90%;
    min-width: 240px;
    aspect-ratio: 1/1;
    object-fit: cover;
    position: absolute;
  }

  @media (max-width:1536px) {
    .hero-img {
      width: 80%;
    }
  }
}